[Desktop Entry]
Name=Rhythmbox
GenericName=Music Player
Comment=Music player and organizer for GNOME
Exec=sudo debian rhythmbox
Icon=rhythmbox
Terminal=false
Type=Application
