[Desktop Entry]
Name=Cave Story
GenericName=Cave Story
Comment=Cave Story
Exec=/usr/bin/osso-xterm '/home/user/bin/udo cavestory'
Icon=cavestory
Terminal=false
Type=Application
