[Desktop Entry]
Name=Klomp
GenericName=Klomp
Comment=Klomp CLI Music Player
Exec=/usr/bin/osso-xterm '/usr/local/bin/udo klomp'
Icon=klomp
Terminal=false
Type=Application
