[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=X Terminal
Comment=Terminal Emulator
Exec=/root/bin/xterm
Icon=terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable

